{% extends 'base.html.twig' %}

{% block title %}SAE 14{% endblock %}

{% block body %}

		<br>
		<br>

<span>
<img src={{asset('photos/cv.jpg')}} class="img3" >
</span>
		<br>
		<br>
		<br>
		<br>

        <h5 class=centrer>
		<div class="container">
            <a href="photos/cv.pdf" type="submit" class="btn btn-primary" class="list-group-item list-group-item-action active" 
			<img src="cv.pdf" >
			<span>
			Telecharger
			</span>
			</a>
            </div>
        


		
		<br>
		<br>
        <br>
		<br>


{% endblock %}
