{% extends 'base.html.twig' %}

{% block title %}SAE 14{% endblock %}

{% block body %}

		<br>
		<br>

<span>
<img src={{asset('photos/cv.jpg')}} class="img3" >
</span>
		<br>
		<br>
		<br>
		<br>
<a  href="photos/cv.jpg"
<img src="cv.jpg" >
<span>
Telecharger
</span>
</a>
		<br>
		<br>
        		<br>
		<br>
{% endblock %}
