{% extends 'base.html.twig' %}


{% block title %}SAE 14{% endblock %}

{% block body %}

<div class="card mb-3">
	<span>
		<h1 id="titre"> PORTOFOLIO  </h1>
	</span>	

 <br>
  <br>
 <div class="wrapper">

    <div class="parent-tab">
      <input type="checkbox" name="tab" id="tab-1" >
      <label for="tab-1">
        <span>PROGRAMMATION</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">

                     <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-4">
                      <label for="tab-4">
                        <span>Language Python</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                    </div>



                     <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-5">
                      <label for="tab-5">
                        <span>Language C</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                      
                    </div>


                     <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-14">
                      <label for="tab-14">
                        <span>Language C++</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                      
                    </div>

    </div>  
    


    
    <div class="parent-tab">
      <input type="checkbox" name="tab" id="tab-2">
      <label for="tab-2">
        <span>Systeme electroniques</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">

                     <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-9">
                      <label for="tab-9">
                        <span>Signaux continus</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                    </div>



                     <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-10">
                      <label for="tab-10">
                        <span>Signaux alternatifs</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                      
                    </div>
                      
        </div>
    
    

   
    <div class="parent-tab tab-3">
      <input type="checkbox" name="tab" id="tab-3">
      <label for="tab-3" class="tab-3">
        <span>Réseaux</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        
        


                    <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-7">
                      <label for="tab-7">
                        <span>Packet Tracert</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                    </div>
                    
                    


                    <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-8">
                      <label for="tab-8">
                        <span>Configuration switch</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                    </div>
                 
       </div>
    
    

    
    <div class="parent-tab">
      <input type="checkbox" name="tab" id="tab-6">
      <label for="tab-6">
        <span>Machine Virtuelle</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
       



                      <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-11">
                      <label for="tab-11">
                        <span>Linux</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                    </div>



                     <div class="child-tab">
                      <input type="checkbox" name="sub-tab" id="tab-12">
                      <label for="tab-12">
                        <span>Serveur / Client</span>
                        <div class="icon"><i class="fas fa-plus"></i></div>
                      </label>
                      <div class="sub-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit dolor. Utfacilis labore, exercitationem fuga minima a illo modi vitaerse dignissimos? Vero?</p>
                      </div>
                      
                    </div>
  </div>



</div>


		<br>
		<br>
		

{% endblock %}