.img{
 
   
      outline: none;
       border-radius: 10%;
       resize: none;
       width: 20%;
       align-items: center;
       justify-content: center;
       font-size: 20%;
}


.img3{


  resize: none;
  width: 80%;
  align-items: center;
  justify-content: center;
  font-size: 20%;



}


.img4{


  resize: none;
  width: 40%;
  align-items: center;
  justify-content: center;
  font-size: 20%;



}




.foot{
   outline: none;
    border-radius: 11%;
    resize: none;
    width: 50%;
    align-items: center;
    transition: opacity 1s ease-in-out;

}


.centrer{

   text-align: center;	
   justify-content: center;
   font-variant: small-caps;
   font-weight: bolder;
         
   }	

.centrer9{
  text-align: center;	
  justify-content: center;
  font-variant: small-caps;
  font-weight: bolder;
  color: white;

}


.centrer2{

   text-align: left;	
   justify-content: left;
   font-variant: small-caps;
   font-weight: bolder;
            
            
   }  

.centrer3{
   position: absolute;
   text-align: center;	
   justify-content: center;
   font-variant: small-caps;
   font-weight: bolder;
   color: #dedeede3;
   font-weight: 900;
   font-family: 'Poppins', sans-serif;
   font-size: 160%;
   left:40%; 
}  

.centrer6{

  text-align: center;	
  justify-content: center;
           
           
  }  

.centrer7{
  position: absolute;
  text-align: center;	
  justify-content: right;
  font-variant: small-caps;
  font-weight: bolder;
  color: #9090d5;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  left:50%; 
}


.masthead{

  background-attachment:fixed;
  background-size:cover;
}

   .centrer5{
    position: absolute;
    text-align: right;	
    justify-content: right;
    font-variant: small-caps;
    font-weight: bolder;
    font-weight: black;
    left:60%;        
             
    } 

span{
display: flex;
align-items: center;
justify-content: center;
         
         
}	



.container{
  border: #484848;
}



.fond{
  background: black;
  border: 1ch solid #000000;
  color:rgb(255, 255, 255);
}

.titreformulaire{
  color:rgb(255, 255, 255);
}

.header2{
  color:rgb(0, 0, 0);
}

.copy{
  color:rgb(255, 255, 255);
}


h1 {
   font-size: 700%;
   font-variant: small-caps;
}
h2{
   font-size: 680%;
   font-variant: small-caps;
   }

h3{
   font-size: 310%;
   font-variant: small-caps;
   
   }
   
h4{
   font-size: 200%;
   font-variant: small-caps;
   }	
   
h5{
   font-size: 170%;
   font-variant: small-caps;
   }

h6{
   font-size: 100%;
   font-variant: small-caps;
}   


   
body{

font-family: 'Open Sans', sans-serif;

border : 31,25% dotted black;
	
}




::selection{
  background: linear-gradient(to right, #000428, #004e92);
 }
 .wrapper{
   max-width: 800%;
   padding: 0 20px;
   
 }
 .wrapper .parent-tab,
 .wrapper .child-tab{
   margin-bottom: 0%;
   border-radius: 100,75%;
   box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
   transition: all 0.5s ease;
 }
 .wrapper .parent-tab label,
 .wrapper .child-tab label{
   background: linear-gradient(to right, #000000, #434343);
   padding: 40px 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   cursor: pointer;
   border-radius: 10px;
   position: center;
   z-index: 99;
   transition: all 0.5s ease;
   -webkit-transition: color 2s;
   transition: color 2s;
 }

 .parent-tab input:checked ~ label,
 .child-tab input:checked ~ label{
   border-radius: 1px 1px 0 0;

   background: linear-gradient(to right, #000428, #29333b);
 }
 
 .wrapper .parent-tab label:hover{
  transition: all 1s ease;
  background: linear-gradient(to right, #000428, #004e92);
  
 }



 .wrapper label span{
   color: #fff;
   font-size: 30px;
   font-weight: 20px;
   font-family: monospace;


   text-shadow: 0 -1px 1px #0056b3;
 }
 .wrapper .child-tab label span{
   font-size: 17px;
 }
 .parent-tab label .icon{
   position: relative;
   height: 80px;
   width: 80px;
   font-size: 15px;
   color: #007bff;
   display: block;
   background: #fff;
   border-radius: 20%;
   text-shadow: 0 -1px 1px #0056b3;
   -webkit-transition: color 2s;
   transition: color 2s;
   font-family: monospace;
 }
 .wrapper .child-tab label .icon{
   height: 27px;
   width: 27px;
 }
 .parent-tab label .icon i{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

 }
 .parent-tab input:checked ~ label .icon i:before,
 .child-tab input:checked ~ label .icon i:before{
   content: '\f068';
 }
 .wrapper .parent-tab .content,
 .wrapper .child-tab .sub-content{
   max-height: 0px;
   overflow: hidden;
   border : 8px;
   border-radius: 0 0 3px 3px;
   transition: 1s ease;
 }
 .parent-tab input:checked ~ .content,
 .child-tab input:checked ~ .sub-content{
   max-height: 950vh;
 }
 .tab-3 input:checked ~ .content{
   padding: 15px 20px;
 }
 .parent-tab .content p,
 .child-tab .sub-content p{
   padding: 15px 20px;
   font-size: 16px;
 }
 .child-tab .sub-content p{
   font-size: 15px;
 }
 input[type="radio"],
 input[type="checkbox"]{
   display: none;
 }

 label {
  display: block;
  margin-top: 1em;
}

input:valid {

  background-color: rgb(23, 217, 23);
}

input:invalid {

  background-color: rgb(153, 73, 85);
}





#slideshow {
	position: relative;
	width: 740px;
	height: 410px;
	padding: 15px;
	margin: 0 auto 2em;


	/* CSS3 effects */

}
 
/* avanced box-shadow
 * tutorial @
 * https://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow 
*/

#slideshow:before {
	left:0;
	transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	transform: rotate(4deg);
}




#slideshow .container {
  width: 100%;
	position:relative;
	width: 640px;
	height: 441px;
	overflow: hidden;
  border : 5px solid;
  border-image: linear-gradient(to right, #ffffff, #0c0743, #ffffff) 10;
  

}
	
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
	position:absolute;
	bottom: 0; left:0;
	content: " ";
	width: 100%;
	height: 1px;
	background: rgb(0, 0, 0);
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 600%;
	height: 400%;
}


/* annulation des marges sur figure */
#slideshow figure {
	position:relative;
	display:inline-block;
	padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}


#slideshow figcaption {
	position:absolute;
	left:0; right:0; bottom: 5px;
	padding: 20px;
	margin:0;
	border-top: 1px solid rgb(0, 0, 0);
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Georgia, Times, serif;
	background: rgb(3, 2, 2);
	background: rgba(255,255,255,0.7);
	color: #555;
	text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}

@keyframes slider {
	0%, 20%, 100%	{ left: -7% }
	25%, 45%		{ left: -125% }


}

#slideshow .slider {
	/* ... avec la propriété animation */
	animation: slider 13s infinite;
}



header span::before {
 color: #7171cb;
 content: "Déterminer";
 animation: aaa 18s infinite;
}


@keyframes aaa {
  0%{
    
    content: "Prête";
  }

  25%{
    content: "Avec un excellent relationnel";
  }

  50%{
    content: "Passioner de l'informatique";
  }

  75%{
    content: "Qui a le sens de l'écoute";
  }

}



.header3 span::before {
  color: #7171cb;
  content: "Determine";
  animation: bbb 18s infinite;
 }
 
 
 @keyframes bbb {
   0%{
    top:0;
     content: "Ready";
   }
 
   25%{
    top: -2.125rem;
     content: "With excellent interpersonal skills";
   }
 
   50%{
    top: -4.25rem;
     content: "Passionate about computers";
   }
 
   75%{
    top: -6.375rem;
     content: "Who is a good listener";
   }
 
 }



 @keyframes lights {
  0% {
    color: hsl(228, 21%, 42%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(229, 22%, 14%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(228, 19%, 47%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(231, 28%, 14%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(228, 17%, 42%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}



#titre {
  font-size:750%;
  text-align: center;	
  justify-content: center;
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  color: #000000;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  animation: lights 5s 750ms linear infinite;
}

#titre{
  font-size:750%;
  text-align: center;	
  justify-content: center;
  font-variant: small-caps;
  font-weight: bolder;
  text-decoration: underline;
  color: #000000;
  font-family: 'Poppins', sans-serif;
           
           
  }


  #titre2 {
    font-size:750%;
    text-align: center;	
    justify-content: center;
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    color: #000000;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;

  }
  
  #titre2 {
    font-size:750%;
    text-align: center;	
    justify-content: center;
    font-variant: small-caps;
    font-weight: bolder;
    text-decoration: underline;
    color: #000000;
    font-family: 'Poppins', sans-serif;
             
             
    }


    
    
    .cadreee {
      color: #000000;
      text-shadow: 0 25px 19px #2e2e31, 0 45px 65px #2e2e31;
      font-size: 80px;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -3px;
      margin: 0;
      position: absolute;

      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    
    .cadreee:before,
    .cadreee:after {
      content: '';
      padding: 110px 60px;
      position: absolute;
      left: 50%;
      width: 100%;
      top: 50%;
      display: block;
      border: 15px rgb(206, 157, 157);
      transform: translateX(-50%) translateY(-50%) rotate(0deg);
      animation: 6s infinite alternate ease-in-out tipsy;
    }

    @keyframes tipsy {
      0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
      }
      100% {
        transform: translateX(-50%) translateY(-50%) rotate(2.5deg);;
      }
      
    }
    
    .cadreee:before {
      border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
      z-index: -1;
    }
    
    .cadreee:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
      box-shadow: 25px 25px 25px rgba(1, 2, 27, 0.584);
    }
    

footer p:nth-child(1){
  font-size: 30px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;

}

footer p:nth-child(2){
  color: white;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;

}

.social{
  display:flex;
}

.social a{
  width: 45px;
  height: 45px;
  display:flex;
  align-items: center;
  justify-content: center;
  background: #f9004d;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size:20px;
}

.social a:hover{
  transform: scale(1.3);
  transition: .3s;
}


