{% extends 'base.html.twig' %}

{% block title %}SAE 14{% endblock %}



{% block body %}

                <span>
                    <h1 id="titre"> My hobbies and interests  </h1>
                </span>   	
                <br><br><br><br><br><br><br>
                
                
            <h5 class=centrer>   
                    <br>
                    
                <span>    
                    <p>
                    I am a person who enjoys many things, whether it is helping people in need,
                    working in a team, spending time outdoors, spending time with my family or even ...<br><br>
                        
                    Playing sports :
                    </p>

                    <br>
                </span>
                    <img src={{asset('photos/IMG_4179.jpg')}} class=foot >
                    <span>
                    <p>
                    <br>Where I was able to play with a team that became my friends 
                    <br>my friends and where I could keep very good memories.
                    </p>
                </span>
            
            <br><br>
             With my friends :
                    </p>
             </h5>
                    <br>
        
        <section id="slideshow">
                
            <div class="container">
                <div class="c_slider"></div>
                <div class="slider">
                    <figure>
                        <img src={{asset('photos/v1.jpg')}} alt="" width=740" height="510" />


                    </figure>
                    <figure>
                        <img src={{asset('photos/v2.jpg')}} alt="" width="740" height="510" />

                    </figure>
                    <figure>
                        <img src={{asset('photos/v3.jpg')}} alt="" width="740" height="510" />
                    </figure>

                </div>
            </div>
                
            <span id="timeline"></span>
        </section>
        <br><br>
 
 
             <h5 class=centrer>
 

                    <br>
                <span>
                    <p>
                    But I also like to work with computers, whether it be programming, video editing, or playing video games.<br>
                    <br></p>
                    
                </span>


                <span>
                    
                <br><br><br><p>
                But I am also a person who is aware of the priorities of life which is to succeed in the world of work
                That's why I work rigorously whether it's weekends or weekdays to hope to have a happy life
                in the future with a job that I will like.</p>

                    
                    <br><br>
                </span>

                    

                    <br>
                    <br>

                 </h5>
             <h5 class=centrer> 
			 <div class="container">
                <a href="/viepriver" class="btn btn-lg btn-primary" type="button">Translate into french</a>
              </div> 
			</h5> 
<br>
<br>
<br>

   

            <span>
            <h6>
                    <a href="http://copyright.be" target="_blank">Copyright 2023 SAé1.4.com - All rights reserved</a>
            </h6>
            </span>


{% endblock %}