{% extends 'base.html.twig' %}


{% block body %}
<div class="card mb-3">		 
	<span>
		<h1 id="titre"> CV  </h1>
	</span>	
		<div>
		   <h3 class=centrer> COMPETENCES </h3>
			<h6 class=centrer>
			<div>
			<br>
			
			<br>Language informatique : code C++ , python , C
			<br>
            <br>Systèmes : -Windows dix : base   
            <br>           -Linux : base
            <br><br>Langues : -Anglais : niveau intermédiaire
            <br>         -Espagnol : niveau intermédiaire
			<br>
			<br><br>Wireshark 
			<br>
			<br>Sens de l'autonomie
			<br>Bonne organisation
			<br>Travail en équipe
			<br>Sens de l'écoute
			<br>Excellent relationnel
			</div>
			</h6>
		</div>



		<br>
		<br>
		<br><br><br><br>
			<h3 class=centrer>
			FORMATIONS </h3>
			<div>
			<h6>
			
			<br>
			<br>

			<h6 class=centrer2>2022             Permis de conduire </h6>
            <br><br>
			<br>

			<h6 class=centrer2>2019-2022        Baccalauréat technologique : mention assez bien </h6>
			<br>							  Lycée de la plaine de l'Ain, Ambérieu-en-Bugey
			<br>							 -Spécialité : système information et numérique 
			<br><br>							
			<br>

			<h6 class=centrer2>2019              Brevet des collèges</h6>
			<br>							  Collège de Leyment
			<br>							 -obtenu avec mention assez bien
        
		 </h6> 
		</div>
		
		<br>
		<br>
		<br><br><br>
		    <h3 class=centrer>
		    EXPÉRIENCE PROFESSIONELS </h3>
			<br>
			<br>

			<h6 class=centrer2> 2018      Stage dans une compagnie d'éducation pour chiens (Lyon) : </h6>
			<br>           
			
			1 semaine de stage en 3ème ou j'ai pu :
			<br>Etre en contact avec le client et comprendre sa demande
			<br>Apprendre à gérer les priorités, le stress et être responsable
			<br>Etre à l'écoute des éducateurs 
			<br> Bilan personel : Connaître le travail en entreprise, répondre au besoin du client et être sous l'autorité d'une personne a été une bonne expérience pour moi .
			<br>
			<br>


			<h6 class=centrer2>2022      Serre autonome connectée :    </h6>
			<br>
			<br>Lors de ce projet de Terminale j'ai pu faire de la programmation, de la communication entre différents éléments, du développement application 
			<br>Bilan personel : Permis de travailler en équipe, s'êre aider mutuellement, d'avoir mis en place toute les étapes pour réaliser le projet et d'avoir été sur le meme projet pendant une longue période

			
			
            </h6>
            <br>
			<br>
			<br>
</div>
<br>
<br>
         <form>

	  <span>
        <h5>FORMULAIRE D'IMPRESSION </h5>
  </span>
   </h5>


  <h6 class=centrer> 

	<div class="name">
      <label for="name" class="form-label mt-4">NOM (3-16 characters)</label>
      </label><br>
      <input name="name" class="form-control" type="text" placeholder=" NOM " pattern="\w{3,16}" required>

    </div>

	<div class="name">
      <label for="name" class="form-label mt-4">PRENOM (3-30 characters)</label>
      </label><br>
      <input name="name" class="form-control" type="text" placeholder=" PRENOM " pattern="\w{3,30}" required>

    </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" type="text" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password (min 5 characters)</label>
      <input name="password" class="form-control" type="text" placeholder=" Password " pattern="\w{5,20}" required>
    </div>
<br>
     </fieldset>


	<form>
			<button type="submit" class="btn btn-primary" formaction="cvpage/"> ENVOYER </button>
			<a href= "cvpage/" </a>
	</form>

        <br>
		<br>
		<br>
		<br>

</h6>


			




{% endblock %}