{% extends 'base.html.twig' %}


{% block title %}SAE 14{% endblock %}

{% block body %}
	   
	    
<div class="card mb-3">

<span>
  <h1 id="titre"> Presentation </h1>


</span>
  
  <div class="card-body">
  </div>
    <h6>  
			Naissance : 02/12/2004
			<br>Téléphone : 06 67 14 75 01
			<br>Email : angypourtier@gmail.com
			<br>Adresse : 71 impasse de la liberation
			<br>Nationaliter : Française
			<br>
			</h6>



      <div>

		  <span>
	    <h4 class=centrer3>

			Je serait pret a regoindre 
      <br>votre societe et 
      <br>donner le meilleur 
      <br>que je puisse donner 
      <br>a cette entreprise 
			<br>

			</h4>
      </span>
		</div>
  


	<img src={{asset('photos/IMG_0733.jpg')}} class="img" >

  </svg>
	
			
			
		



		<br>
		<br>
        <h5 class=centrer> 
        <div class="container">
        <a href="viepriver/" class="list-group-item list-group-item-action active">POUR EN SAVOIR PLUS</a>
            </div>
        
        <br>
        <br>
        <br>
        <br>

        <form>
      <fieldset>
        <legend>FORMULAIRE</legend>
   </h5>


  <h6 class=centrer> 

	<div class="name">
      <label for="exampleInputEmail1" class="form-label mt-4">NOM</label>
      <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="NOM">

    </div>

	<div class="firstname">
      <label for="exampleInputEmail1" class="form-label mt-4">PRENOM</label>
      <input type="first-prenom" class="form-control" id="exampleInputprenom1" aria-describedby="prenomHelp" placeholder="PRENOM">

    </div>

    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
<br>
     </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset> 

        <br>
		<br>
		<br>
		<br>

</h6>

</span>
			
</div>

{% endblock %}
