{% extends 'base.html.twig' %}

{% block title %}SAE 14{% endblock %}



{% block body %}

    <span>
		<h1 id="titre"> Mes passions et loisirs  </h1>
	</span>   	
    
    
    
<h5 class=centrer>   
        <br>
        
    <span>    
        <p>
         Je suis une personne qui aime de nombreuse chose que sa soit aider les personnes qui en ont besoin, 
        <br>travailler en equipe, passer du temps avec mes amis a l'éxtérieur ou ma famille ou encors ...
        <br><br>
            
        Le sport :
        </p>

         <br>
    </span>
        <img src={{asset('photos/IMG_4179.jpg')}} class=foot >
   
   
    <span>
         <p>
        <br>Ou j'ai put jouer avec une equipe qui sont devenus 
        <br>mes amis et ou j'ai put garder de tres bon souvenir.
        </p>
    </span>
        <br>
    <span>
        <p>
        Mais j'aime également toucher a l'informatique, que sa soit programmer, faire des montage video, ou encors jouer a des jeux vidéo.
        <br>
        <br></p>
        
    </span>


    <span>
        
        <br><br><br><p>
        Mais je suis aussi une personne qui c'est avoir conscience des prioriters de la vie qui est de reussir sa vie dans le monde du travail.
        C'est pour cela que je travaille rigulierement que sa soit le week end ou la semaine pour esperer avoir une vie heureuse
        <br> dans un futur avec un travaill qui me plaira.</p>

        
        <br><br>
    </span>

        </h5>
        <br><br>
            <span>
            <h7>
                    <a href="http://copyright.be" target="_blank">Copyright 2023 SAé1.4.com - Tous droits réservés</a>
            </h7>
            </span>
            <br>
            <br>
{% endblock %}