{% extends 'base.html.twig' %}

{% block title %}SAE 14{% endblock %}



{% block body %}
               <br><br><br><br><br><br><br>
                <span>
                	<div id="titre2" >
                    <h1 class = cadreee  target="_blank">Mes passions et loisirs</h1>
                    </div>
  	            </span>
                <br><br><br><br><br><br><br>
                
                
            <h5 class=centrer>   
                    <br>
                    
                <span>    
                    <p>
                    Je suis une personne qui aime de nombreuse chose que sa soit aider les personnes qui en ont besoin, 
                    <br>travailler en equipe, passer du temps a l'éxtérieur, passer du temps avec ma famille ou encors ...
                    <br><br>
                        
                    Faire du sport :
                    </p>

                    <br>
                </span>
                    <img src={{asset('photos/IMG_4179.jpg')}} class=foot >
                    <span>
                    <p>
                    <br>Ou j'ai put jouer avec une equipe qui sont devenus 
                    <br>mes amis et ou j'ai put garder de tres bon souvenir.
                    </p>
                </span>
            
            <br><br>
             Avec mes amis :
                    </p>
             </h5>
                    <br>
        
        <section id="slideshow">
                
            <div class="container">
                <div class="c_slider"></div>
                <div class="slider">
                    <figure>
                        <img src={{asset('photos/v1.jpg')}} alt="" width=740" height="510" />


                    </figure>
                    <figure>
                        <img src={{asset('photos/v2.jpg')}} alt="" width="740" height="510" />

                    </figure>


                </div>
            </div>
                
            <span id="timeline"></span>
        </section>
        <br><br>
 
 
             <h5 class=centrer>
 

                    <br>
                <span>
                    <p>
                    Mais j'aime également toucher a l'informatique, que sa soit programmer, faire des montages videos, ou encors jouer a des jeux vidéo.
                    <br>
                    <br></p>
                    
                </span>


                <span>
                    
                    <br><br><br><p>
                    Mais je suis aussi une personne qui c'est avoir conscience des prioriters de la vie qui est de reussir sa vie dans le monde du travail.
                    C'est pour cela que je travaille rigulierement que sa soit le week end ou la semaine pour esperer avoir une vie heureuse
                    <br> dans un futur avec un travaill qui me plaira.</p>

                    
                    <br><br>
                </span>

                    

                    <br>
                    <br>

                 </h5>
             <h5 class=centrer> 
			 <div class="container">
                <a href="/viepriveranglais" class="btn btn-lg btn-primary" type="button">Traduire en anglais</a>
              </div> 
			</h5> 
<br>
<br>
<br>

   

            <span>
            <h6>
                    <a href="http://copyright.be" target="_blank">Copyright 2023 SAé1.4.com - Tous droits réservés</a>
            </h6>
            </span>


{% endblock %}