<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SAé 1.4{% endblock %}</title>
        <link rel= "stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/typed.js@2.0.12">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       
        {% block stylesheets %}{% endblock %}
        <link rel= "stylesheet" href={{ asset('css/css.css') }}

    </head>
	<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    

   <a class="navbar-brand" href="/">ANGY POURTIER . </a>
     &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;  
   <a class="navbar-brand" href="blog/..">Accueil
   &ensp;
   <a class="navbar-brand" href="/blog">Cv</a>
   &ensp;
   <a class="navbar-brand" href="/portofolio">Portofolio</a>
   &ensp;
   <a class="navbar-brand" href="/viepriver">Mes loisirs</a>

   
 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
     
     
      </ul>


      </div>
    </div>
</nav>


    {% block body %}{% endblock %}

	</body>
</html>
